In [3]:
import pandas  as pd

In [2]:
df = pd.read_csv("DataSet2.csv")

In [3]:
df

                                                X       y
0                  Global Master of Public Health  05ab1e
1     Maestría en Inteligencia Analítica de Datos  05ab1e
2          MSc in Innovation and Entrepreneurship  05ab1e
3                      Master of Computer Science  05ab1e
4          Master of Science in Management (iMSM)  05ab1e
...                                           ...     ...
4455               Global Master of Public Health     zsh
4456  Maestría en Inteligencia Analítica de Datos     zsh
4457       MSc in Innovation and Entrepreneurship     zsh
4458                   Master of Computer Science     zsh
4459       Master of Science in Management (iMSM)     zsh

[4460 rows x 2 columns]

In [4]:
data = []

lang = []
with open("All_Languages.txt","r+") as f:
    lang = f.read().split("\n")

In [5]:
#data = df.values.tolist()

In [6]:
for i in range(len(lang)):
    data.append(["introduction to "+lang[i],lang[i]])
    data.append(["basics of "+lang[i],lang[i]])
    data.append(["getting started with "+lang[i],lang[i]])
    data.append(["roadmap for "+lang[i],lang[i]])
    data.append(["i want to learn "+lang[i],lang[i]])
    data.append(["how to excel in "+lang[i],lang[i]])
    data.append(["i want to learn "+lang[i]+" not "+lang[(i+1)%len(lang)],lang[i]])

In [7]:
data[-10:]

[['i want to learn zsh', 'zsh'],
 ['how to excel in zsh', 'zsh'],
 ['i want to learn zsh not Î¼Î»', 'zsh'],
 ['introduction to Î¼Î»', 'Î¼Î»'],
 ['basics of Î¼Î»', 'Î¼Î»'],
 ['getting started with Î¼Î»', 'Î¼Î»'],
 ['roadmap for Î¼Î»', 'Î¼Î»'],
 ['i want to learn Î¼Î»', 'Î¼Î»'],
 ['how to excel in Î¼Î»', 'Î¼Î»'],
 ['i want to learn Î¼Î» not 05ab1e', 'Î¼Î»']]

In [8]:
df_final = pd.DataFrame(data,columns=["X","y"])

In [9]:
df_final.to_csv("DataSet3.csv",index=False)