In [174]:
import pandas as pd
import numpy as np

In [175]:
df = pd.read_csv("dat.csv")

In [176]:
df.head()

  Topic Outcomes Description Opportunity Prerequisite
0   NaN      NaN         NaN         NaN          NaN
1   NaN      NaN         NaN         NaN          NaN
2   NaN      NaN         NaN         NaN          NaN
3   NaN      NaN         NaN         NaN          NaN
4   NaN      NaN         NaN         NaN          NaN

In [177]:
topic,out,des,opp,pre = df['Topic'].values,df['Outcomes'].values,df['Description'].values,df['Opportunity'].values,df['Prerequisite'].values

In [178]:
for i in range(len(topic)):
    if str(topic[i])!="nan":
        topic[i] =topic[i][2:-4].lower()

In [179]:
for i in range(len(out)):
    if str(out[i])!="nan":
        out[i] = out[i][2:-2].lower()

In [180]:
for i in range(len(des)):
    if str(des[i])!="nan":
        des[i] = des[i][2:-2].lower()

In [181]:
for i in range(len(opp)):
    if str(opp[i])!="nan":
        opp[i] = opp[i][2:-2].lower()

In [182]:
for i in range(len(pre)):
    if str(pre[i])!="nan":
        pre[i] = pre[i][2:-2].lower()

In [183]:
df = pd.DataFrame(list(zip(topic,out,des,opp,pre)),columns=['Topic','Outcomes','Description','Opportunity','Prerequisite'])

In [184]:
df = df.dropna()

In [185]:
df.to_csv("DESTO.csv",index=False)